<tr>
    <td><%= student.nome %></td>
    <td><%= student.matricula %></td>
    <td><%= student.apto %></td>
    <td><%= link_to 'Detalhes', student %></td>
    <td><%= link_to 'Editar', edit_student_path(student) %></td>
    <td><%= link_to 'Deletar', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>