<%= form_with(model: teacher, local: true) do |form| %>
  <% if teacher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(teacher.errors.count, "error") %> prohibited this teacher from being saved:</h2>

      <ul>
      <% teacher.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">
    <div class="form-group row">
      <%= form.label :nome %>
      <div class="col-sm-10">
        <%= form.text_field :nome %>
      </div>
    </div>
    <div class="form-group row">
      <%= form.label :matricula %>
      <div class="col-sm-10">
        <%= form.text_field :matricula %>
      </div>
    </div>
    <div class="form-group row">
      <%= form.label :especialidade %>
      <div class="col-sm-10">
        <%= form.text_field :especialidade %>
      </div>
    </div>
    
    <div class="actions text-center">
      <%= form.submit  "Cadastrar",:class => "btn btn-info" %>
      <%= link_to 'Voltar', requests_path, :class => "btn btn-danger"%>
    </div>
  </div>
<% end %>
